/.venv*
/src/__pycache__
/dataset
/dataset_back
/dataset_processed
/images

/runs/**
!/runs/detect/
!/runs/detect/models/
!/runs/detect/models/head-detector/
!/runs/detect/models/head-detector/weights/
!/runs/detect/models/head-detector/weights/**

!/**/*.gitkeep
/weights
src/__pycache__/*
mount.txt
